In [8]:
import env 
import pandas as pd
import os

# First we need gather(acquire) the data.

In [2]:
# First we need to use our env file to access our mysql data base
def get_connection():
    
    '''
    This function will return the link to access mysql database. 
    '''
    user=env.username
    password=env.password
    host=env.host
    db=env.db
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'

In [3]:
# build the query
# We are importing everything, below we are writing the query to query everything 

query =\
'''
select * 
from customers
left join internet_service_types using(internet_service_type_id)
left join contract_types using(contract_type_id)
left join payment_types using(payment_type_id)
left join customer_signups using (customer_id)
left join customer_churn using(customer_id)
left join customer_contracts using (customer_id)
left join customer_details using (customer_id)
left join customer_payments using (customer_id)
left join customer_subscriptions using (customer_id)
'''

In [4]:
def get_telco_data():
    if os.path.exists('telco.csv') == True:
        return pd.read_csv('telco.csv')
    else:
        df = pd.read_sql(query, get_connection())
        df.to_csv('telco.csv')
        return pd.read_csv('telco.csv')

# Test the function 
***** MAKE SURE YOU DO NOT!!!! PUSH ENV FILE. CYBER SAFETY IS IMPORTANT!******

In [9]:
df = get_telco_data()

,Unnamed: 0,customer_id,payment_type_id,contract_type_id,internet_service_type_id,gender,senior_citizen,partner,dependents,tenure,...,total_charges.1,phone_service.1,multiple_lines.1,internet_service_type_id.1,online_security.1,online_backup.1,device_protection.1,tech_support.1,streaming_tv.1,streaming_movies.1
0,0,0002-ORFBO,2,2,1,Female,0,Yes,Yes,9,...,593.3,Yes,No,1,No,Yes,No,Yes,Yes,No
1,1,0003-MKNFE,2,1,1,Male,0,No,No,9,...,542.4,Yes,Yes,1,No,No,No,No,No,Yes
2,2,0004-TLHLJ,1,1,2,Male,0,No,No,4,...,280.85,Yes,No,2,No,No,Yes,No,No,No
3,3,0011-IGKFF,1,1,2,Male,1,Yes,No,13,...,1237.85,Yes,No,2,No,Yes,Yes,No,Yes,Yes
4,4,0013-EXCHZ,2,1,2,Female,1,Yes,No,3,...,267.4,Yes,No,2,No,No,No,Yes,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,7038,9979-RGMZT,2,2,2,Female,0,No,No,7,...,633.45,Yes,No,2,No,Yes,No,No,Yes,Yes
7039,7039,9985-MWVIX,2,1,2,Female,0,No,No,1,...,70.15,Yes,No,2,No,No,No,No,No,No
7040,7040,9986-BONCE,3,1,3,Female,0,No,No,4,...,85.5,Yes,No,3,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service
7041,7041,9992-UJOEL,2,1,1,Male,0,No,No,2,...,92.75,Yes,No,1,No,Yes,No,No,No,No
7042,7042,9995-HOTOH,1,3,1,Male,0,Yes,Yes,63,...,3707.6,No,No phone service,1,Yes,Yes,Yes,No,Yes,Yes

In [ ]:
df