In [9]:
# First lets get some inports !!!
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import acquire as a 
import prepare as p 
from sklearn.model_selection import train_test_split
import sklearn.preprocessing
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression

import warnings
warnings.filterwarnings("ignore")
#lets pull our dataframe 
df = a.get_telco_data()
df = p.prepare_telco(df)
train, test, validate = p.split_data(df)

# Now lets Explore:

In [24]:
# lets catagorize some of these lists:
demographics = ['sex_male', 'senior_citizen', 'partner', 'dependents','churn']


services_provided = ['phone_service', 'multiple_lines', 'online_security', 'online_backup',
       'device_protection', 'tech_support', 'streaming_tv', 'streaming_movies','churn']

contract_types = ['contract_type_month-to-month',
       'contract_type_one_year', 'contract_type_two_year','churn']

billing = ['paperless_billing', 'monthly_charges', 'total_charges','tenure','churn']


internet_type = ['internet_service_type_dsl', 'internet_service_type_fiber_optic',
       'internet_service_type_none','churn']

contract_type = [ 'contract_type_month-to-month',
       'contract_type_one_year', 'contract_type_two_year','churn']

payment_types = ['payment_type_bank_transfer_(automatic)',
       'payment_type_credit_card_(automatic)', 'payment_type_electronic_check',
       'payment_type_mailed_check','churn']

churn = ['churn']

# Now lets explore

In [33]:
train[churn].mean()

churn    0.229013
dtype: float64

# So we average about a 23 percent churn rate so lets dive in and see if we can find corrolations.

In [58]:
#lets look at our target variable 
train.churn.describe()

count    3943.000000
mean        0.229013
std         0.420251
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000
Name: churn, dtype: float64

In [59]:
train.head()

,sex_male,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,device_protection,...,internet_service_type_fiber_optic,internet_service_type_none,contract_type_month-to-month,contract_type_one_year,contract_type_two_year,payment_type_bank_transfer_(automatic),payment_type_credit_card_(automatic),payment_type_electronic_check,payment_type_mailed_check,churn
5970,0,0,1,0,47,1,1,1,1,1,...,0,1,0,1,0,0,0,0,1,0
3308,0,0,1,0,68,1,1,1,0,0,...,1,0,0,0,1,0,1,0,0,0
6058,1,0,1,1,43,1,1,1,0,0,...,1,0,0,0,1,0,0,1,0,0
210,1,0,0,0,8,1,0,0,0,1,...,0,1,0,1,0,0,0,0,1,0
4809,0,0,1,0,58,1,1,0,1,0,...,1,0,0,0,0,1,0,1,0,0

# Let's Do modeling

In [ ]:
from sklearn import